@import '../App.scss';

.popular{
    .popular_list{
        position: relative;
        padding:12px 18px;
        margin-bottom:15px !important;
        border-radius: 5px;
        box-shadow:0px 8px 10px rgba(24, 81, 159, 0.04);
        cursor: pointer;

        .img_body_box{
            display: flex;
            align-items: center;
            gap:20px;

            img{
                width:50px;
                height:50px;
                border-radius: 3px;
                object-fit: cover;
            }

            .body{
                margin:0;
                margin-top:8px;

                svg{
                    margin-top:5px;
                    width:18px;
                }
                svg.eye{
                    color:rgb(182, 199, 248);
                }
                svg.heart{
                    color:rgb(248, 184, 184);
                }

                span.date{
                    display: inline-block;
                    margin-right:10px;
                    vertical-align: 8px;
                }
            }
        } 
        
        .date{
            align-self:flex-end;
            margin-bottom:5px;
        }

        .vaccine{
            position: absolute;
            top:12px;
            right:18px;
            display: inline-block;
            padding:6px 8px;
            font-size: 8px;
            letter-spacing: -0.3px;
            border-radius: 3px;
            font-weight: 700;
        }
        .vaccine.ASTRAZENECA{
            color:$astrazeneca;
            background:$astrazenecaBg;
        }
        .vaccine.MODERNA{
            color:$moderna;
            background:$modernaBg;
        }
        .vaccine.PFIZER{
            color:$pfizer;
            background:$pfizerBg;
        }
        .vaccine.JANSSEN{
            color:$janssen;
            background:$janssenBg;
        }
    }

    .popular_list:last-child{
        margin:0;
    }
}