/* ===== color ===== */
$black:#4a4646;
$main:#1976d2;
$pink:#E9ACE3;
$purple:#C6ACE9;
$lightBlue:#ACBDE9;
$darkGray:#666;

/* ===== reset ===== */
ul{
  padding:0;
  list-style: none;
}

/* ===== body & html ===== */
body{
  width:100%;
  overflow-x: hidden;
}

/* ===== inner ===== */
.inner{
  width:1200px;
  margin:0 auto;
}

/* ===== paper ===== */
.paper{
  padding:25px 35px;
}

/* ====== font ====== */
.subtitle{
  margin:0 0 15px;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  color:$black;
}

.body{
  margin:8px 0;
  font-size: 16px;
  text-align: center;
  color:$darkGray;
}